@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Raleway', sans-serif;
}

@layer utilities {
  @keyframes wiggle {

    0%,
    100% {
      transform: rotate(-6deg) scale(1);
    }

    50% {
      transform: rotate(6deg) scale(1.05);
    }
  }
}